*{
    box-sizing: border-box;
    margin: 5px;
    padding: 5px;
}
body{
    background-color:darkcyan;
    transition-duration: 2s;
    transition-delay: 2s;
}
nav,.nav{
    width: 100%;
}
.sha{
    position: absolute;
    display: inline-block;
    right: 50px;
    border: 5px solid black;
    top: 25px;
}
.nav{
    display: grid;
    grid-column: 2;
    grid-template-columns: repeat(4, 4fr);
    font-size: 18px;
    border: 2px solid black;
    place-items: center;
    transition-duration: 2s;
    transition-delay: 2s;

}
a:hover{
    background-color: brown;
    color: black
  
}
a:active{
    background-color: red;
    color:blueviolet
}
footer>nav{
    display: inline-grid;
    grid-template-columns: repeat(5, 2fr);
    width: 100%;
    font-size: 15px;
    place-items: center;
}
.sh{
    display: inline-block;
    border: 5px solid black;
    top:25px;
    left:50px;
}
.sh,.sha{
    width:auto;
    height: auto;
}
.shaka{
    max-width: 100%;
    /* text-align: start; */
}
div>div{
    text-align: center;
    width: auto;
    height: auto;
    font-size: 15px;
    display: inline-block;
}
img{
 display: inline-block;
 border-radius:30%;
 max-width: 40%;
 height: auto;
 text-align: start;
 /* transition-delay: 2s; */
 
}
ul>li{
    display: block;
}